<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>QA系统--主页</title>

<!-- 弹框css/js -->
<script type="text/javascript" th:src="@{/alerts/myAlert.min.js}" ></script>

</head>

<body>
    <div class="wrapper-container">
		<h3>QA系统主页</h3>
		<!-- 引入头部head.html -->
		<div th:include="header :: copy"></div>
		
        <fieldset class="layelem-field">
            <legend>开启树形菜单节点操作图标</legend>
        </fieldset>
        <div id="tree"></div>
    </div>
    <script type="text/javascript" src="@{module/js/tree.js}"></script>
		
	
</body>
</html>
